<div class="row">
  <div class="small-12 large-12 columns">

    <!-- 
      Red Wine Path
      Se aplica al evento 'onSort' el resultado de ejecutar
      'sortCollection'
    -->
    <app-product-filter 
      (onSearch)="filterCollection($event)"
      (onSort)="sortCollection($event)">
      </app-product-filter>
  </div>
  <div *ngIf="products?.length > 0" class="small-up-2 medium-up-4 large-up-6">

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Green Path                                                       |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Suscribe el componente ProductComponent al evento que hayas      |
    | definido en él para notificar los clics sobre los productos.     |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- Green Path:
       Se incluye el evento 'clickDetail' que ejecuta 'navigateDetail'
    
      Red Wine Path
      Se aplica el pipe 'orderProduct' al listado de productos
      pasando por parametro el campo de ordenación
    -->
    <app-product
      *ngFor="let product of products | orderProduct:sort"
      [data]="product"
      class="column"
      (clickDetail)="navigateDetail($event)">
    </app-product>
  </div>
  <div *ngIf="products?.length === 0" class="text-center">
    <span>No se han encontrado productos.</span>
  </div>
</div>
<div class="text-center">

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Yellow Path                                                      |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Modifica el elemento <a> para que navegue a la ruta  '/reset'.   |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <!-- 
    Yellow Path: Se indica a donde tiene que navegar el enlace
  -->
  <a [routerLink]="['/reset']">Reset de productos</a>
</div>
