<div class="row" *ngIf="product">
  <div class="medium-4 columns">
    <img [src]="product.photo" class="thumbnail" />
    <!-- Broken White Path: 
      Se añaden los botones para añadir y eliminar de favoritos.
      
      Se llama a la función 'isFavorite' para averiguar
      si el registro se encuentra entre favoritos o no.
    -->
    <div *ngIf="isFavorite(product.id) === false">
      <button (click)="clickFavorite(product.id)" 
              class="button success expanded">
        Añadir a favoritos
      </button>
    </div>
    
    <div *ngIf="isFavorite(product.id) === true">
      <button (click)="clickFavorite(product.id)" 
              class="button alert expanded">
        Eliminar de favoritos
      </button>
    </div>
  </div>
  <div class="medium-8 columns">
    <h3>{{ product.name }}</h3>
    <p>
      <span class="label" [ngClass]="{
        'info': product.category.id === 1,
        'alert': product.category.id === 2,
        'warning': product.category.id === 3 }">
        {{ product.category.name }}
      </span>

      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
      | Blue Path                                                        |
      |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
      | Una vez tengas creado el Pipe PublicationDatePipe, úsalo con la  |
      | fecha de publicación.                                            |
      |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


      <!--
        Blue Path: Se añade el pipe 'publicationDate' para poder transformar
        el dato de fecha a un texto más asequible para el usuario.
      -->
      <span>
        {{ product.publishedDate | publicationDate }}
      </span>
    </p>
    <p [innerHtml]="product.description"></p>
    <app-user-profile 
      [userId]="product.seller.id"
      (clickUserDetail)="navigateUserDetail($event)">
      </app-user-profile>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Purple Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Aplica el siguiente formato al precio del producto:              |
    |   - 1 dígito mínimo (parte entera)                               |
    |   - 2 dígitos mínimo y máximo (parte decimal)                    |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <button *ngIf="product.state === 'selling'"
            (click)="showPurchaseWarning()"
            class="button large expanded">

    <!-- 
      Purple Path: Se incluye el pipe "number : '1.2-2'" para que el precio 
      tenga como mínimo un digito entero y dos decimales.
    -->
      Comprar por {{ product.price | number : '1.2-2' }} €
    </button>
    <button (click)="goBack()" class="warning button expanded">Volver</button>
  </div>
  <!-- Confirmation alert -->
  <p-confirmDialog header="Confirmación de compra" width="625" #cd></p-confirmDialog>
</div>
